<h1><%= @location.name %></h1>

<div id="loc_details">
	<div id="loc_address">
		<%= link_to @location.email, "mailto:"+@location.email %><br>
		<%= @location.phone %>
		<p><%= @location.add1+'<br>' if @location.add1 %>
		<%= @location.add2+'<br>' if @location.add2 %>
		<%= @location.city+'<br>' if @location.city %>
		<%= @location.postcode+'&nbsp;' if @location.postcode %></p>
	</div>
	<div id="loc_desc">
		<%= @location.description %>
	</div>
</div>

<% s = Date.today
e = s+7 %>

<%= link_to 'Register Here!', signup_path unless logged_in? %>

<div id="booking_area">
	<% form_for :booking do |b| %>
		
	<% end %>
</div>